body {
    background-color: rgba(62, 154, 207, 0.597);
    margin: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

/*index.html styles started*/
/*header div styles*/

h1 {
    font-family: 'Water Brush', cursive;
    text-align: center;
    font-size: 65px;
    color: whitesmoke;
    text-shadow: 3px 3px rgb(87, 87, 87);
    margin: 43.5px 0px;
}

#hamburgericon {
    display: none;
}

.navsection {
    padding-top: 16px;
}

#bannerimg {
    max-width: 100%;
    margin-top: 7px;
}

nav {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(87, 87, 87);
    font-size: 17px;
}

.headercaption {
    font-family: 'Waterfall', cursive;
    font-size: 40px;
    font-weight: 500;
    background-color: rgba(87, 87, 87, 0.253);
    text-align: center;
    margin: 0px;
    margin-bottom: 5px;
    color: black;
}

/*main div styles*/

main {
    padding: 40px 20px 50px 20px;
    background-color: lightblue;
}

main h2 {
    font-size: 30px;
}

main p {
    font-size: 17px;
}

/*section styles*/
.linktopage {
    font-family: 'Waterfall', cursive;
    font-weight: 600;
    font-size: 40px;
    color: rgb(87, 87, 87);
    text-decoration: none;
}

.linktopagecategory {
    font-family: 'Waterfall', cursive;
    font-weight: 600;
    font-size: 32px;
    color: rgb(87, 87, 87);
    text-decoration: none;
}

section ol {
    margin-top: 50px;
}

section ol li {
    font-family: 'Water Brush', cursive;
    font-size: 32px;
    color: rgba(77, 206, 146, 0.511);
    text-shadow: 1px 1px rgb(22, 22, 22);
    background-color: rgba(87, 87, 87, 0.253);
    margin-top: 40px;
    margin-bottom: 30px;
}

.categoryimages {
    height: 400px;
    display: block;
    margin: 30px 0px 10px 0px;
}

/*footer styles*/

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(77, 206, 146, 0.511);
    padding: 20px 0px;
}

.fab {
    padding: 0px 5px;
}

.copyrights {
    display: block;
    font-weight: bold;
}

footer cite {
    display: block;
    font-weight: normal;
}

footer cite:first-of-type {
    margin-top: 10px;
}

/*index.html styles ended*/

/*outdoors.html styles started*/

.categoryheaders {
    margin-top: 7px;
    padding: 0px 20px;
}

.attractionsimages {
    height: 400px;
    margin: 30px auto 40px auto;
    display: block;
}

.multipleimages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*outdoors.html styles ended*/

/*responsive styling started*/

@media only screen and (max-width: 755px) {
    h1 {
        font-size: 40px;
        display: inline;
        padding-left: 60px;
        color: rgb(87, 87, 87);
        text-shadow: 3px 3px lightgray;
    }

    .navsection {
        padding-top: 50px;
    }

    #hamburgericon {
        display: initial;
        font-size: 30px;
        color: rgb(87, 87, 87);
        margin-left: 85px;
    }

    nav {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style: none;
        margin-left: 45px;
    }

    nav ul li {
        padding-bottom: 10px;
    }

    #bannerimg {
        margin-top: 25px;
    }

    .headercaption {
        font-size: 35px;
    }

    main h2 {
        font-size: 25px;
    }

    main p {
        font-size: 16px;
    }

    .linktopage,
    .linktopagecategory {
        font-size: 35px;
    }

    section ol li {
        font-size: 28px;
    }

    .categoryimages {
        height: 300px;
    }

    .copyrights {
        font-size: 15px;
    }

    footer section {
        font-size: 15px;
    }
}

@media only screen and (max-width: 650px) {
    #hamburgericon {
        display: initial;
        font-size: 25px;
    }

    h1 {
        font-size: 35px;
    }

    .headercaption {
        font-size: 30px;
    }

    main h2 {
        font-size: 21px;
    }

    main p {
        font-size: 14px;
    }

    .linktopage,
    .linktopagecategory {
        font-size: 31px;
    }

    section ol li {
        font-size: 25px;
    }

    .copyrights {
        font-size: 12px;
    }

    footer section {
        font-size: 12px;
    }
}

@media only screen and (max-width: 570px) {
    #hamburgericon {
        display: initial;
        font-size: 20px;
    }

    h1 {
        font-size: 31px;
        padding-left: 22px;
    }

    .headercaption {
        font-size: 27px;
    }

    main h2 {
        font-size: 19px;
    }

    main p {
        font-size: 13.5px;
    }

    .linktopage,
    .linktopagecategory {
        font-size: 29px;
    }

    section ol li {
        font-size: 24px;
    }

    .categoryimages {
        height: 220px;
    }
}

@media only screen and (max-width: 525px) {
    #hamburgericon {
        display: initial;
        margin-left: 55px;
    }
}

@media only screen and (max-width: 450px) {
    #hamburgericon {
        display: initial;
        margin-left: 35px;
    }

    h1 {
        padding-left: 10px;
    }

    footer {
        flex-direction: column;
    }

    footer section {
        padding-left: 20px;
    }

    .copyrights {
        align-self: end;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 430px) {
    h1 {
        font-size: 28px;
    }

    #bannerimg {
        margin-top: 25px;
        width: 100%;
        height: 550px;
        object-fit: cover;
    }

    .categoryimages {
        height: 190px;
    }
}

@media only screen and (max-width: 375px) {
    #hamburgericon {
        display: initial;
        padding-top: 0;
    }

    .navsection {
        padding: 0
    }

    h1 {
        margin: 50px 0px 30px 0px;
        padding: 0;
    }

    .navsection {
        display: flex;
        flex-direction: column-reverse;
    }

    .categoryimages {
        height: 165px;
    }

    section ol {
        padding-left: 10px;
    }
}

@media only screen and (max-width: 290px) {
    .categoryimages {
        height: 150px;
    }
}

/*responsive styling ended*/