body {
    background-color: rgba(62, 154, 207, 0.597);
    margin: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

/*index.html styles started*/
/*header div styles*/

h1 {
    font-family: 'Water Brush', cursive;
    text-align: center;
    font-size: 65px;
    color: whitesmoke;
    text-shadow: 3px 3px rgb(87, 87, 87);
}

#bannerimg {
    max-width: 100%;
    margin-top: 7px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(87, 87, 87);
    font-size: 17px;
}

header p {
    font-family: 'Waterfall', cursive;
    font-size: 40px;
    font-weight: 500;
    background-color: rgba(87, 87, 87, 0.253);
    text-align: center;
    margin: 0px;
    margin-bottom: 5px;
    color: black;
}

/*main div styles*/

main {
    padding: 40px 20px 50px 20px;
    background-color: whitesmoke;
}

main h2 {
    font-size: 30px;
}

main p {
    font-size: 17px;
}

/*section styles*/
.linktopage {
    font-family: 'Waterfall', cursive;
    font-weight: 600;
    font-size: 40px;
    color: rgb(87, 87, 87);
    text-decoration: none;
}

.linktopagecategory {
    font-family: 'Waterfall', cursive;
    font-weight: 600;
    font-size: 32px;
    color: rgb(87, 87, 87);
    text-decoration: none;
}

section ol {
    margin-top: 50px;
}

section ol li {
    font-family: 'Water Brush', cursive;
    font-size: 32px;
    color: rgba(77, 206, 146, 0.511);
    text-shadow: 1px 1px rgb(22, 22, 22);
    background-color: rgba(87, 87, 87, 0.253);
    margin-top: 40px;
    margin-bottom: 30px;
}

.categoryimages {
    height: 400px;
    display: block;
    margin: 30px 0px 10px 0px;
}

/*footer styles*/

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(77, 206, 146, 0.511);
    padding: 20px 0px;
}

.copyrights {
    display: block;
    font-weight: bold;
}

footer cite {
    display: block;
    font-weight: normal;
}

footer cite:first-of-type {
    margin-top: 10px;
}

/*index.html styles ended*/

/*outdoors.html styles started*/

.categoryheaders {
    margin-top: 7px;
    padding: 0px 20px;
}

.attractionsimages {
    height: 400px;
    margin: 30px auto 40px auto;
    display: block;
}

.multipleimages {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*outdoors.html styles ended*/